* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 18px;
  color: black;
  background-color: rgb(187, 194, 209);
  /* background-color: rgb(41, 166, 197); */
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  letter-spacing: 7px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.lead {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  font-family: "Nanum Myeongjo", serif;
}

.container {
  margin: auto;
  width: 500px;
  padding: 10px;

  /* fix margin collapsing within container */
  /* padding: 10px 30px 10px 30px; */
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 50px;
  color: white;

  background-color: rgb(41, 166, 197);
  /* background-color: rgb(114, 117, 124); */
}

/* div contenteditable */
.event-text {
  /* lets the middle shrink and grow to remaining width */
  padding: 5px 17px;
  border-radius: 30px;
  flex: 1 1 auto;
  background-color: rgb(241, 231, 231);
  color: black;

  font-family: "Nanum Myeongjo", serif;
  font-size: 1.2rem;
  min-height: 20px;
}

.event-text:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(19, 19, 175, 0.5);
}

label {
  flex: 0 0 100px;
  text-align: center;
  font-size: 1.1rem;
}

.save-container {
  flex: 0 0 100px;
  text-align: center;
}

/* floppy disk svg */
.save-button {
  cursor: pointer;
  width: 25px;
  fill: white;
}

.save-button:hover {
  fill: rgb(201, 207, 211);
}

.save-button:active {
  fill: rgba(214, 214, 214, 0.774);
}

.row-present {
  background-color: rgb(50, 194, 50);
}

.row-past {
  background-color: rgb(145, 138, 136);
}
