* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 20px;
}

body {
  color: black;
  background-color: rgb(187, 194, 209);
  /* background-color: rgb(41, 166, 197); */
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  letter-spacing: 7px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.lead {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  font-family: "Nanum Myeongjo", serif;
}

.container {
  margin: auto;
  width: 97%;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 50px;
  color: white;

  background-color: rgb(41, 166, 197);
  /* background-color: rgb(114, 117, 124); */
}

/* div contenteditable */
.event-text {
  /* lets the middle shrink and grow to remaining width */
  padding: 5px 17px;
  border-radius: 30px;
  flex: 1 1 auto;
  background-color: rgb(241, 231, 231);
  color: black;

  font-family: "Nanum Myeongjo", serif;
  font-size: 1rem;
  min-height: 20px;

  word-break: break-all;
}

.event-text:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(19, 19, 175, 0.5);
}

/* hour label next to todo list */
label {
  flex: 0 0 120px;
  text-align: center;
  font-size: 1rem;
}

.save-container {
  flex: 0 0 100px;
  text-align: center;
}

/* floppy disk svg */
.save-button {
  cursor: pointer;
  width: 25px;
  fill: white;
}

.save-button:hover {
  fill: rgb(201, 207, 211);
}

.save-button:active {
  fill: rgba(214, 214, 214, 0.774);
}

.row-present {
  background-color: rgb(50, 194, 50);
}

.row-past {
  background-color: rgb(145, 138, 136);
}

/*************** calendar *********************/
/* doing calendar */
#calendar-head {
  background-color: rgb(41, 166, 197);
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 10px 15px;
  width: 380px;
  box-sizing: border-box;
}

#calendar-body {
  width: 380px;
  background-color: white;
  display: grid;
  margin: auto;
  text-align: center;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  margin-bottom: 20px;
}

/* first row on calendar mo, tu, we ... */
.day-name {
  background-color: lightgray;
}

.day {
  border: 1px solid black;
}

.change-month {
  cursor: pointer;
}

/* .hide {
  display: none !important;
} */

/**********   Media Queries *****************/
/* smaller devices */
@media (max-width: 850px) {
  html {
    font-size: 18px;
  }

  h1 {
    font-size: 1.5rem;
  }

  .lead {
    font-size: 1rem;
  }

  label {
    flex: 0 0 70px;
    text-align: center;
    font-size: 0.8rem;
  }

  .save-container {
    flex: 0 0 40px;
  }

  .save-button {
    width: 15px;
  }
}

/* bigger devices */
@media (min-width: 1300px) {
  .container {
    width: 75%;
  }
}
