* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 16px;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  letter-spacing: 7px;
}

.lead {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 1.5rem;
}

.container {
  margin: auto;
  width: 1300px;

  /* fix margin collapsing within container */
  padding: 10px;
  /* padding: 10px 30px 10px 30px; */
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: lightgreen;
}

textarea {
  /* lets the middle shrink and grow to remaining width */
  flex: 1 1 auto;
}

.event-text {
  /* lets the middle shrink and grow to remaining width */
  flex: 1 1 auto;
  background-color: lightcoral;
  /* height has to be 2px bigger per row of text 
  example 3 rows of 16px font = 18*3px font to allow 3 rows without resizing*/
  min-height: 54px;
}

label {
  flex: 0 0 100px;
  text-align: center;
}

.save-container {
  flex: 0 0 100px;
  text-align: center;
}

/* floppy disk svg */
.save-button {
  cursor: pointer;
  width: 25px;
  fill: blue;
}

.save-button:hover {
  fill: red;
}

.save-button:active {
  fill: pink;
}
